{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <header class="row">
            <div class="col-md-3 col-md-offset-9">
                <div class="sign-btns">
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-success header-link" href="{{ path('dashboard') }}">Dashboard</a>
                        <a class="btn btn-primary header-link" href="{{ path('logout') }}">Logout</a>
                    {% else %}
                        <a class="btn btn-primary header-link" href="{{ path('login') }}">Sign In</a>
                        <a class="btn btn-success header-link" href="{{ path('register') }}">Sign Up</a>
                    {% endif %}
                </div>
            </div>
        </header>
        <div class="row">
            <div class="col-md-12">
                <h2>Welcome to Home</h2>
            </div>
        </div>
    </div>
{% endblock %}