{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <header class="row">
            <div class="col-md-2 pull-right">
                <div class="sign-btns">
                    <a class="btn btn-primary header-link" href="{{ path('login') }}">Sign In</a>
                    <a class="btn btn-success header-link" href="{{ path('register') }}">Sign Up</a>
                </div>
            </div>
        </header>
        <div class="row">
            <div class="col-md-12">
                <h2>Welcome to Home</h2>
            </div>
        </div>
    </div>
{% endblock %}