{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>About Us</h2>
                <p>
                    Morbi dolor enim, iaculis ac scelerisque pretium, auctor aliquam risus. Curabitur ullamcorper urna a luctus
                    cursus. Aliquam pulvinar fermentum dui quis auctor. Donec scelerisque quam vel interdum feugiat. Vestibulum
                    tortor velit, tempor vitae cursus at, auctor vel mi. Cras massa ante, feugiat nec suscipit et, dignissim non ex.
                    Nunc augue nibh, ultrices maximus diam a, imperdiet convallis tortor. Maecenas dignissim tincidunt est, in
                    fermentum sem placerat sed. Ut consectetur dictum nunc. Suspendisse non lorem lacus.
                </p>
                <p>
                    Suspendisse tincidunt, velit vel venenatis interdum, lectus ante sollicitudin dolor, in viverra dolor justo non
                    mauris. Praesent lectus enim, condimentum non sagittis eget, bibendum id arcu. Vivamus semper faucibus mollis.
                    Quisque nisl mi, pharetra auctor dictum sed, iaculis in nisl. Vivamus gravida mauris ac diam posuere dapibus.
                    Nulla cursus nec leo et aliquet. Cras convallis vehicula neque mattis viverra. Nunc scelerisque mollis consequat.
                    Duis rhoncus arcu neque, vitae tincidunt erat tincidunt ac.
                </p>
            </div>
        </div>
    </div>
{% endblock %}